@mixin flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

@mixin flex-evenly {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@mixin flex-align {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}