$colorPrimario: #E6DCD3;
$colorSecundario: #E9E9E9;
$colorTerciario: #AB9D92;
$letraparrafo: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$letraTitulos: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;